.calendar {
    z-index: 10;
}

.pop-up {
    position: absolute;
    top: -420px;
    left: 35%;
    transform: translate(-50%, -50%);
    animation: drop 0.5s ease forwards;
    z-index: 20;
}

.pop-upRV {
    position: fixed;
    animation: drop 0.5s ease forwards;
    z-index: 20;
    top: 20;
}

@keyframes drop {
    0% {
        opacity: 0;
    }
    70% {
        transform: translateY(700px);
    }
    100% {
        transform: translateY(650px);
        opacity: 1;
    }
}
